In [27]:
import pandas as pd
df = pd.read_csv("netflix_titles.csv")

In [4]:
!pip install mysqlclient

Collecting mysqlclient
  Obtaining dependency information for mysqlclient from https://files.pythonhosted.org/packages/64/0c/338ff73f627db62f2c321bcda61eddb80a384933aa543e3f59821b3c9756/mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata
  Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl.metadata (4.6 kB)
Downloading mysqlclient-2.2.4-cp311-cp311-win_amd64.whl (203 kB)
   ---------------------------------------- 0.0/203.2 kB ? eta -:--:--
   ------------ --------------------------- 61.4/203.2 kB 1.7 MB/s eta 0:00:01
   ---------------------------------- ----- 174.1/203.2 kB 2.1 MB/s eta 0:00:01
   ---------------------------------------- 203.2/203.2 kB 2.1 MB/s eta 0:00:00
Installing collected packages: mysqlclient
Successfully installed mysqlclient-2.2.4

In [4]:
import pyodbc

In [23]:
from sqlalchemy import create_engine
import pandas as pd

conn_str = (
    'mssql+pyodbc://LAPTOP-A4PFQSQ3\\SQLEXPRESS/sql_project?'
    'driver=ODBC+Driver+17+for+SQL+Server'
)

engine = create_engine(conn_str)

df.to_sql('netflix_raw', con=engine, index=False, if_exists='append')
# if_exists='replace'   used when we have to put the csv data as it is in the structure 
# if_exists='append'     used when we have to use the created structure of table for the given data

-1

In [13]:
df[df.show_id == "s5023"]

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
5022,s5023,Movie,반드시 잡는다,Hong-seon Kim,Baek Yoon-sik,South Korea,"February 28, 2018",2017,TV-MA,110 min,"Dramas, International Movies, Thrillers",After people in his town start turning up dead...

In [24]:
df.head()

,show_id,type,title,director,cast,country,date_added,release_year,rating,duration,listed_in,description
0,s1,Movie,Dick Johnson Is Dead,Kirsten Johnson,NaN,United States,"September 25, 2021",2020,PG-13,90 min,Documentaries,"As her father nears the end of his life, filmm..."
1,s2,TV Show,Blood & Water,NaN,"Ama Qamata, Khosi Ngema, Gail Mabalane, Thaban...",South Africa,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, TV Dramas, TV Mysteries","After crossing paths at a party, a Cape Town t..."
2,s3,TV Show,Ganglands,Julien Leclercq,"Sami Bouajila, Tracy Gotoas, Samuel Jouy, Nabi...",NaN,"September 24, 2021",2021,TV-MA,1 Season,"Crime TV Shows, International TV Shows, TV Act...",To protect his family from a powerful drug lor...
3,s4,TV Show,Jailbirds New Orleans,NaN,NaN,NaN,"September 24, 2021",2021,TV-MA,1 Season,"Docuseries, Reality TV","Feuds, flirtations and toilet talk go down amo..."
4,s5,TV Show,Kota Factory,NaN,"Mayur More, Jitendra Kumar, Ranjan Raj, Alam K...",India,"September 24, 2021",2021,TV-MA,2 Seasons,"International TV Shows, Romantic TV Shows, TV ...",In a city of coaching centers known to train I...

In [15]:
max(df.cast.dropna().str.len())

771

In [16]:
max(df.country.dropna().str.len())

123

In [17]:
max(df.date_added.dropna().str.len())

19

In [18]:
max(df.rating.dropna().str.len())

8

In [19]:
max(df.duration.dropna().str.len())

10

In [20]:
max(df.listed_in.dropna().str.len())

79

In [21]:
max(df.description.dropna().str.len())

248

In [26]:
df.isna().sum()

show_id            0
type               0
title              0
director        2634
cast             825
country          831
date_added        10
release_year       0
rating             4
duration           3
listed_in          0
description        0
dtype: int64